{% extends 'site/base.html' %}
{% block content %}
    {% if not recipes  %}
    <h2>Receita não encontrada</h2>
    {%else%}
    <div class="recipe-acessed">
        <h2>Buscando por "{{filter}}"</h2>
        <div class="cards-recipe-acessed">
            {% for recipe in recipes %}
            <div class="card-recipe-acessed">
                <a href="recipes/{{recipe.id}}"><img src="{{url_for('static', filename='img/{}'.format(recipe.recipe_img))}}" alt="imagem da receita {{recipe.name}}"></a>
                <div>{{recipe.name}}</div>
                <div>por {{recipe.chef.name}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock content %}
