<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin-site.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Receitas Foodfy</title>
</head>
<body>
    <body>
        <header>
            <div>
                <a class='logo-foodfy' href="/admin">
                    <img src="{{url_for('static', filename='img/logo-white.png')}}" alt="logo foodfy branco">
                </a>
                <div>
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </div>
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock content%}
        </div>
        <footer>
            <p>&copy; Todos os direitos reservados a Receitas Foodfy</p>
        </footer>
    </body>
</body>
<script>
    /*TODO: Refatorar incluindo no sript principal*/
    function addIngredient(){
    const ingredients = document.querySelector('#ingredients')
    const fieldContainer = document.querySelectorAll(".ingredient")
    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true)
    const inputId = newField.childNodes[1]
    inputId.id = `ingredients-${fieldContainer.length}`
    inputId.name = `ingredients-${fieldContainer.length}`
    

    if(newField.children[0].value == ""){
        return false
    }

    newField.children[0].value = ""
            
        ingredients.appendChild(newField)
    }

function addPreparation(){
    const preparations = document.querySelector('#preparations')
    const fieldContainer = document.querySelectorAll(".preparation")
    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true)
    const inputId = newField.childNodes[1]
    inputId.id = `preparations-${fieldContainer.length}`
    inputId.name = `preparations-${fieldContainer.length}`

    if(newField.children[0].value == ""){
        return false
    }

    newField.children[0].value = ""

    preparations.appendChild(newField)
            
}
</script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>