<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin-site.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/chef.png')}}" type="image/x-icon">
    <title>Receitas Foodfy</title>
</head>
<body>
    <body>
        <header>
            <div>
                <a class='logo-foodfy' href="/admin">
                    <img src="{{url_for('static', filename='img/logo-white.png')}}" alt="logo foodfy branco">
                </a>
                <div>
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </div>
            </div>
        </header>
        <div class="container">
            {% block content %}
            {% endblock content%}
        </div>
        <footer>
            <p>&copy; Todos os direitos reservados a Receitas Foodfy</p>
        </footer>
    </body>
</body>

<script src="{{url_for('static', filename='js/script.js')}}"></script>
</html>